<div *ngIf="practitioner">
    {{ practitioner.name[0].prefix}} {{ practitioner.name[0].family}} {{ practitioner.name[0].given}}
    <button type="button" id="b" color="primary" (click)="pageMed = true"> + </button>

</div>

<!--Page médecin -->
<div *ngIf="pageMed == true" class="modal">
    <div>
        <h1> Mes informations: </h1>
        <div *ngIf="practitioner">
            <form>
                Prefixe : <input type="text" name="prefixe" [(ngModel)]="practitioner.name[0].prefix[0]"><br>
                Nom : <input type="text" name="family" [(ngModel)]="practitioner.name[0].family"><br>
                Prénom : <input type="text" name="given" [(ngModel)]="practitioner.name[0].given[0]"><br>
                Deuxième Prénom : <input type="text" name="givensecond" [(ngModel)]="practitioner.name[0].given[1]"><br>
                Adresse : <input type="text" name="address" [(ngModel)]="practitioner.address[0].line[0]"><br>
                Code postal : <input type="text" name="postalcode" [(ngModel)]="practitioner.address[0].postalCode"><br>
                Ville : <input type="text" name="city" [(ngModel)]="practitioner.address[0].city"><br>
                Téléphone : <input type="text" name="telephone" [(ngModel)]="practitioner.telecom[0].value"><br>
                Mail : <input type="text" name="mail" [(ngModel)]="practitioner.telecom[1].value"><br>

                <button (click)="putPractitioner()"> Modifier</button>
            </form>
        </div>
        <button id="button" mat-raisedbutton color="primary" (click)="pageMed = false">Close</button>
    </div>
</div>


<!-- Planning -->
<div>
    <table>
        <thead>
            <tr>
                <th colspan="2">
                    <h1> Mes rendez-vous du jour : </h1>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let appointment of appointmentmed">
            <tr>
                <td> {{ appointment.start }} </td>
                <td> {{ appointment.participant[0].actor.display }}</td>
                <td> {{ appointment.comment }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Observation code 
                </th>
                <th >
                    Observation definition 
                </th>
                <th >
                    Observation date 
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let obs of observationpatients">
            <tr>
                <td> <input type="text" name="code" [(ngModel)]="obs.code.coding[0].display"></td>
                <td> <input type="text" name="definition" [(ngModel)]="obs.valueString"></td>
                <td> <input type="text" name="date" [(ngModel)]="obs.effectiveDateTime"></td>
                <td><button (click)="putObservation(obs)"> Modifier</button></td>
            </tr>
        </tbody>
    </table>
    
</div>


<!-- Page patient -->
<div *ngIf="pagePatient == true" class="modal">
    <table>
        <thead>
            <tr>
                <th colspan="2"><h1> Informations patient: </h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                        <div *ngIf="patient">
                            <ul>
                                <li> Nom : {{ this.p.name[0].family }}  </li>
                                <li> Prénom : {{ this.p.name[0].given }} </li>
                                <li> Genre: : {{ this.p.gender }} </li>
                                <li> Adresse: : {{ this.p.address[0].line }} {{ this.p.address[0].city }} {{ this.p.address[0].postalCode }} </li>
                                <li> Date de naissance : {{ this.p.birthDate }}</li>
                                <li> Téléphone : {{ this.p.telecom[0].value }}</li>
                                <li> Mail : {{ this.p.telecom[1].value }}</li>
                                <li><button type="button" id="b" color="primary"> modifier </button></li>
                            </ul>
                        </div>
                </td>
                <td><h1>Observations sur le patient:</h1></td>
            </tr>
            <tr>
                <td>Commentaire sur le rendez-vous: </td>
                
            </tr>
        </tbody>
    </table>
<button id="button" mat-raisedbutton color="primary" (click)="pagePatient = false">Close</button>
</div>